<% page_title @person.name %>
<% page_class 'people-show biographical-page' %>

<%= content_tag_for :div, @person, class: 'two-column-page' do %>
  <header class="block headings-block">
    <div class="inner-block floated-children">
      <%= render partial: 'shared/heading',
                locals: { type: @person.current_role_appointments.map { |a| a.role.name }.to_sentence,
                          heading: @person.name,
                          big: true, extra: true } %>
      <div class="heading-extra">
        <div class="inner-heading">
          <%= render partial: 'shared/available_languages', locals: {object: @person } %>
        </div>
      </div>
    </div>
  </header>

  <div class="block-2 ">
    <div class="inner-block">
      <section class="contextual-info in-page-navigation ">
        <% if @person.currently_in_a_role? %>
          <div class="image">
            <figure class="img">
              <%= @person.image %>
            </figure>
          </div>
        <% end %>
        <nav role="navigation" aria-labelledby="document-contents-heading">
          <h2 id="document-contents-heading" <%= t_lang('document.contents') %>><%= t('document.contents') %></h2>
          <ul>
            <li <%= t_lang('people.biography') %> >
              <%= link_to t('people.biography'), '#biography' %>
            </li>
            <% if @person.currently_in_a_role? %>
              <li <%= t_lang('roles.heading', count: @person.current_role_appointments.count) %> >
                <%= link_to t('roles.heading', count: @person.current_role_appointments.count), "#current-roles" %>
              </li>
            <% end %>
            <% if @person.previous_role_appointments.any? %>
              <li <%= t_lang('people.previous_roles') %>>
                <%= link_to t('people.previous_roles'), "#previous-roles" %>
              </li>
            <% end %>
            <% if @person.has_policy_responsibilities? %>
              <li <%= t_lang('policies.heading') %>>
                <%= link_to t('policies.heading'), "#policy" %>
              </li>
            <% end %>
            <% if @person.announcements.any? %>
              <li <%= t_lang('announcements.heading') %>>
                <%= link_to t('announcements.heading'), "#announcements" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </section>
    </div>
  </div>

  <div class="block-3">
    <div class="inner-block">
      <section class="biography" id="biography">
        <h2 class="label gem-c-heading" <%= t_lang('people.biography') %>><%= t('people.biography') %></h2>
        <%= @person.biography %>
      </section>

      <div class="current-roles" id="current-roles">
        <% @person.current_role_appointments.each do |appointment| %>
          <%= content_tag_for :section, appointment, class: "role" do %>
            <h2 class="gem-c-heading" id="<%= appointment.role.name.parameterize%>" <%= t_lang_translated_locales(appointment.role) %> ><%= appointment.role.name %></h2>
            <div <%= t_lang_translated_locales(appointment.role) %> ><%= appointment.role.responsibilities %></div>
            <div class="read-more">
              <% if appointment.role.ministerial? %>
                <%= link_to t('roles.read_more'), appointment.role %>
              <% end %>
              <% if appointment.role.worldwide? %>
                <%= render partial: 'organisations/organisations_name_list', locals: { organisations: appointment.role.worldwide_organisations } %>
              <% else %>
                <%= render  partial: 'organisations/organisations_name_list', locals: { organisations: appointment.role.organisations } %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <% if @person.previous_role_appointments.any? %>
        <section class="previous-roles" id="previous-roles">
          <h2 class="gem-c-heading" <%= t_lang('people.previous_roles_in_government') %>>
            <%= t('people.previous_roles_in_government') %>
          </h2>
          <ol class="document-list">
            <% @person.previous_role_appointments.each do |appointment| %>
              <%= content_tag_for :li, appointment, class: "document-row" do %>
                <h3 <%= t_lang_translated_locales(appointment.role) %>><%= appointment.role_link %></h3>
                <ul class="attributes" <%= t_lang_translated_locales(appointment.role) %>>
                  <li class="date"><%= appointment.date_range %></li>
                </ul>
              <% end %>
            <% end %>
          </ol>
        </section>
      <% end %>

      <% if @person.has_policy_responsibilities? %>
        <section id="policy">
          <h2 class="gem-c-heading" <%= t_lang('policies.heading') %>>
            <%= t('policies.heading') %>
          </h2>
          <%= render 'policies/document_list', policies: @person.published_policies %>
        </section>
      <% end %>

      <% atom_discovery_link_tag atom_feed_url_for(@person), t('announcements.heading') %>

      <% if @person.announcements.any? %>
        <section class="announcements" id="announcements" <%= t_lang('announcements.heading') %>>
          <%= render 'govuk_publishing_components/components/heading', {
            text: t('announcements.heading')
          } %>

          <%= render "govuk_publishing_components/components/subscription-links", {
            hide_heading: true,
            email_signup_link: email_signup_path(atom_feed_url_for(@person)),
            email_signup_link_text: t('feeds.get_email_alerts'),
            email_signup_link_text_locale: t_locale('feeds.get_email_alerts'),
            feed_link: atom_feed_url_for(@person),
            feed_link_text: t('feeds.subscribe_to_feed'),
            feed_link_text_locale: t_locale('feeds.subscribe_to_feed')
          } %>

          <%= render "govuk_publishing_components/components/document_list", items: @person.announcements %>

          <div class="read-more" <%= t_lang('announcements.view_all') %>>
            <%= link_to t('announcements.view_all'), announcements_path(people: [@person.slug]) %>
          </div>
        </section>
      <% end %>
    </div>
  </div>
<% end %>
