<% page_title @organisation.name %>
<% page_class "organisations-show" %>
<% atom_discovery_link_tag atom_feed_url_for(@organisation), "Latest activity" %>


<%= organisation_wrapper(@organisation) do %>
  <div class="block-1 headings-block<%= " service-priority" if @organisation.service_priority_homepage? %>">
    <div class="inner-block<%= " floated-children" if @organisation.service_priority_homepage? %>">
      <%= render 'header', organisation: @organisation, show_featured_links: true, languages_available: true %>
    </div>
  </div>

  <div class="block-2 <%= "has-social" if @organisation.social_media_accounts.any? %>">
    <div class="inner-block">
      <%= render partial: 'featured_items',
                locals: { feature_list: @feature_list,
                          recently_updated: @recently_updated,
                          organisation: @organisation } %>
      <section id="what-we-do" class="what-we-do">
        <div class="content">
          <h1 class="label"><%= t("organisation.headings.what_we_do") %></h1>
          <div class="overview">
            <% if @organisation.court_or_hmcts_tribunal? && @organisation.about_us %>
              <%= govspeak_to_html @organisation.about_us.body %>
            <% else %>
              <p class="description"><%= @organisation.summary %></p>
            <% end %>
            <% if !@organisation.court_or_hmcts_tribunal? &&
              (@organisation.parent_organisations.any? || @organisation.supporting_bodies.any?) %>
              <p class="parent_organisations">
                <%= organisation_display_name_including_parental_and_child_relationships(@organisation) %>
              </p>
            <% end %>
            <p><%= link_to t('organisation.about.read_more'), polymorphic_path([@organisation, CorporateInformationPage]), id: 'read_more_link' unless @organisation.court_or_hmcts_tribunal? %></p>
            <% if @organisation.slug === 'department-for-international-development' %>
              <div class="uk-aid">
                <h2><a href="https://www.gov.uk/government/publications/uk-aid-standards-for-using-the-logo">UK aid from the British people</a></h2>
                <p>The UK aid logo is used widely in the countries where we work,
                on items such as health clinics, school books and emergency
                food supplies, to publicly acknowledge development programmes
                funded by the UK taxpayer.</p>
              </div>
            <% end %>
          </div>
        </div>
      </section>
      <% if @organisation.social_media_accounts.any? %>
        <div class="social-media">
          <div class="content">
            <%= render 'shared/social_media_accounts', socialable: @organisation %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render 'documents' if (@non_statistics_publications + @announcements + @consultations + @statistics_publications).any? %>

  <% if people_to_show? %>
    <div class="block-9">
      <div class="inner-block" id="people">
        <section id="who">
          <% if @ministers.any? %>
            <section id="ministers">
              <h1 class="label"><%= t('organisation.headings.our_ministers') %></h1>
              <ul>
              <% @ministers.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                           locals: {
                             person: role.current_person,
                             roles: @ministerial_roles.roles_for(role.current_person),
                             hlevel: "h3",
                             extra_class: (i % 4 == 0) ? 'clear-person' : ''
                           } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @military_personnel.any? %>
            <section id="military">
              <h1 class="label"><%= t('organisation.headings.our_senior_military_officials') %></h1>
              <ul>
                <% @military_personnel.each_with_index do |role, i| %>
                <%= render partial: "people/person",
                            locals: {
                              person: role.current_person,
                              roles: @military_roles.roles_for(role.current_person),
                              hlevel: "h3",
                              hide_image: false,
                              extra_class: (i % 4 == 0) ? 'clear-person' : ''
                            } %>
              <% end %>
              </ul>
            </section>
          <% end %>

          <% if @important_board_members.any? || @board_members.any? %>
            <section id="management" class="important-board-members-<%= @organisation.important_board_members %>">
              <h1 class="label"><%= t('organisation.headings.our_management') %></h1>
              <ul class="management-primary">
                <% @important_board_members.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @board_member_roles.roles_for(role.current_person),
                               hlevel: "h2",
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
              <ul class="management-secondary">
                <% @board_members.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @board_member_roles.roles_for(role.current_person),
                               hlevel: "h2",
                               hide_image: true,
                               extra_class: extra_board_member_class(@organisation, i)
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @traffic_commissioners.any? %>
            <section id="traffic_commissioners">
              <h1 class="label"><%= t('organisation.headings.traffic_commissioners') %></h1>
              <ul>
                <% @traffic_commissioners.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @traffic_commissioner_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @special_representatives.any? %>
            <section id="special_representatives">
              <h1 class="label"><%= t('organisation.headings.special_representatives') %></h1>
              <ul>
                <% @special_representatives.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @special_representative_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @chief_professional_officers.any? %>
            <section id="chief_professional_officers">
              <h1 class="label"><%= t('organisation.headings.chief_professional_officers') %></h1>
              <ul>
                <% @chief_professional_officers.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @chief_professional_officer_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>

          <% if @judges.any? %>
            <section id="judges">
              <h1 class="label"><%= t('organisation.headings.judges') %></h1>
              <ul>
                <% @judges.each_with_index do |role, i| %>
                  <%= render partial: "people/person",
                             locals: {
                               person: role.current_person,
                               roles: @judge_roles.roles_for(role.current_person),
                               hlevel: "h3",
                               hide_image: false,
                               extra_class: (i % 4 == 0) ? 'clear-person' : ''
                             } %>
                <% end %>
              </ul>
            </section>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>

  <% @organisation.promotional_features.each do |promotional_feature| %>
    <%= content_tag_for(:feature, promotional_feature) do %>
      <h3><%= promotional_feature.title %></h3>
      <% promotional_feature.items.each do |item| %>
        <%= content_tag_for(:div, item) do %>
          <p><%= item.summary %></p>
          <p><%= link_to item.link_text, item.link_url %></p>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="block-10">
    <div class="inner-block">
      <div class="contact-wrapper">
        <% if @organisation.home_page_contacts.any? %>
          <h1 id="org-contacts" class="label"><%= t('organisation.headings.contact', name: @organisation.display_name) %></h1>
          <div class="org-contacts">
            <div class="addresses">
              <%= render partial: 'contacts/contact', collection: @organisation.home_page_contacts %>
            </div>
          </div>
        <% end %>

        <% unless @organisation.court_or_hmcts_tribunal? %>
          <section id="freedom-of-information">
            <% if @organisation.foi_exempt? %>
              <h1 class='label'><%= t('organisation.headings.freedom_of_information_act') %></h1>

              <p class="see-legislation"><%= t('organisation.foi_exemption_html', foi_url: 'http://www.legislation.gov.uk/ukpga/2000/36/schedule/1') %></p>
            <% else %>
              <h1 class="label"><%= t('organisation.headings.making_foi_requests') %></h1>
              <ol class="steps">
                <li><%= t('organisation.making_foi_requests.step1_html', how_to_path: 'https://www.gov.uk/make-a-freedom-of-information-request/the-freedom-of-information-act') %></li>
                <li><%= t('organisation.making_foi_requests.step2_html', our_releases_path: publications_filter_path(@organisation, publication_type: 'foi-releases')) %></li>
                <% if @foi_contacts.any? %>
                  <li><%= t('organisation.making_foi_requests.step3_html') %></li>
                <% end %>
              </ol>

              <% if @foi_contacts.any? %>
                <div class="org-contacts">
                  <div class="addresses js-hide-extra-contacts">
                    <%= render partial: 'contacts/contact', collection: @foi_contacts %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </section>
        <% end %>

        <% if @sub_organisations.any? %>
          <section id="high-profile-units">
            <h1 class="label">High profile groups within <%= @organisation.display_name %></h1>
            <nav class="group sub_navigation" role="navigation">
              <ul class="sub_organisations">
                <% @sub_organisations.each do |sub_organisation| %>
                  <%= content_tag_for :li, sub_organisation do %>
                    <%= link_to sub_organisation.name, organisation_path(sub_organisation) %>
                  <% end %>
                <% end %>
              </ul>
            </nav>
          </section>
        <% end %>
      </div>

      <% if show_corporate_information_pages? @organisation %>
        <%= render partial: 'corporate_information',
                   locals: { organisation: @organisation,
                             show_corporate_reports: true } %>
      <% end %>

    </div>
  </div>


<% end %>
