<%
  hide_inline_attachments_help ||= false
  show_attachments_tab_help ||= false
  show_footnote_help ||= false
  show_stat_headline_help ||= false
  link_check_report ||= nil
  govspeak_link_errors ||= []
%>

<h1>Govspeak help</h1>

<% if govspeak_link_errors.any? %>
  <section id='link-errors' class='alert alert-danger'>
    <h3>Link errors</h3>

    <p>You will not be able to publish this document until these are fixed.</p>

    <dl>
      <% govspeak_link_errors.each do |link_error| %>
        <dt><%= link_error[:link] %></dt>
        <dd data-start='<%= link_error[:start] %>' data-end='<%= link_error[:end] %>'>
          <%= link_error[:fix] %>
        </dd>
      <% end %>
    </dl>
  </section>
  <% initialise_script "GOVUK.govspeakLinkErrors", selector: '#link-errors' %>
<% end %>

<% if link_check_report.present? %>
  <%= render 'admin/link_check_reports/link_check_report', report: link_check_report %>
<% end %>

<div data-module="track-click" data-track-category="formatting-help" data-track-action="formatting-help-link" data-track-selector="a[data-toggle]">
  <h3>Formatting</h3>
  <p>For details, read the <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown">guide to using Markdown</a></p>
  <h3><a data-toggle="collapse" href="#govspeak-headings" aria-expanded="false">Headings</a></h3>
  <div class="collapse" id="govspeak-headings">
    <pre>## Top level heading – H2
  ### Second level heading – H3
  #### Third level heading – H4

  Don’t use a single # – this is H1 and is for the title only</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-links" aria-expanded="false">Links</a></h3>
  <div class="collapse" id="govspeak-links">
    <p>
      All documents created in the publisher – policies, publications, news, speeches, detailed guides etc –
      should be linked to using absolute admin paths or full public URLs:
    </p>
    <pre>
  [an admin path](/government/admin/policies/12345)
  [a public URL](https://www.gov.uk/government/policies/example-policy)</pre>

    <p>All content created under an organisation tab – collection pages, topics, organisations, people, roles etc – should be linked to using the full, public URLs:</p>
    <pre>[link text](https://www.gov.uk/government/topics/climate-change)</pre>

    <p>For external websites, use the full URL including http://:</p>
    <pre>[link text](http://www.example.com)</pre>

    <h4>Linking to paragraphs</h4>
    <p>
      If you want to link to specific paragraphs within a document, you need to mark the paragraph as linkable
      by placing an anchor tag <strong>below</strong> the paragraph:
    </p>
  <pre>
  Stocks of some fish species are very low. For example, stocks of European Eel have declined by about 95% over the last 30 years.
  {:#eel-decline}
  </pre>

    <p>The paragraph can then be linked to from the same document:</p>
    <pre>[Sample link text](#eel-decline)</pre>

    <p>or from another document:</p>
    <pre>[Sample link text](https://www.gov.uk/government/policies/managing-freshwater-fisheries#eel-decline)</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-bullets" aria-expanded="false">Bullets</a></h3>
  <div class="collapse" id="govspeak-bullets">
    <pre>* item 1
    * item 2
    * item 3</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-numbered-list" aria-expanded="false">Numbered list</a></h3>
  <div class="collapse" id="govspeak-numbered-list">
    <pre>1. item 1
  2. item 2
  3. item 3</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-images" aria-expanded="false">Images</a></h3>
  <div class="collapse" id="govspeak-images">
    <p>First upload your image(s), then:</p>
    <pre>!!<em>n</em></pre>
    <p>eg for the first image:</p>
    <pre>!!1</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-video-links" aria-expanded="false">Video links</a></h3>
  <div class="collapse" id="govspeak-video-links">
    <p>Use the title of the video and the URL of the YouTube page that shows the video for watching. Don’t use the embed code or the ‘Share this video’ URL:</p>
    <pre>[title of video](youtube-video-url)</pre>
    <p>Only YouTube videos will work at present:</p>
    <pre>[The Queen’s Diamond Jubilee Concert](http://www.youtube.com/watch?v=OXHPWmnycno)</pre>
    <p>The title text does not show. The video will display in an embedded media player automatically.</p>
  </div>

  <% unless hide_inline_attachments_help %>
    <h3><a data-toggle="collapse" href="#govspeak-attachments" aria-expanded="false">Attachments</a></h3>
    <div class="collapse" id="govspeak-attachments">
      <% if show_attachments_tab_help %>
        <p>Upload your attachment(s) on the ‘Attachments’ tab (you must save a draft edition to make the tab visible).</p>
      <% else %>
        <p>Upload your attachment(s) using the attachment fields in the form.</p>
      <% end %>
      <p>Add an attachment as a callout box:</p>
      <pre>!@<em>n</em></pre>
      <p>Or, if you want to use a link to an attachment in a sentence or list:</p>
      <pre>[InlineAttachment:<em>n</em>]</pre>
      <p>eg for the first file:</p>
      <pre>!@1</pre>
      <p>or:</p>
      <pre>[InlineAttachment:1]</pre>
    </div>
  <% end %>

  <h3><a data-toggle="collapse" href="#govspeak-tables" aria-expanded="false">Tables</a></h3>
  <div class="collapse" id="govspeak-tables">
    <p>Insert tables by splitting your content into cells using the pipe (|) character. </p>
    <pre>
  |  name   |  colour |
  |---------|---------|
  | apple   | green   |
  | banana  | yellow  |</pre>

    <p>Add row titles by putting a hashtag (#) character directly next to the pipe (|) at the start of the row:</p>

    <pre>
  |             | Fruit | Vegetables |
  |-------------|-------|------------|
  |# per gram   |   5p  |     8p     |
  |# per kilo   |   7p  |     6p     |
    </pre>

  <p>Right align a column by including a colon at the end of a separator, eg <code>|---:|</code>. In the example below the cost column will be right aligned.</p>
  <pre>
  |  name   |  cost  |
  |---------|-------:|
  | apple   | 0.45   |
  | banana  | 0.32   |
  | guava   | 10.32  |
  </pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-charts" aria-expanded="false">Charts</a></h3>
  <div class="collapse" id="govspeak-charts">
    <p>Numeric data can be shown as a simple bar chart. Grouped bars are used for multiple columns.</p>
    <pre>Department   | Short Speeches | Long Speeches
  -|-|-
  Department 1 | 6              | 6
  Department 2 | 6              | 8
  Department 3 | 18             | 2
  {barchart}</pre>
    <p>Stacked bars can be created. The final column is used to display the total.</p>
    <pre>Department | Short Speeches | Long Speeches | Total
  -|-|-|-
  Dept 1     | 6              | 6             | 12
  Dept 2     | 6              | 8             | 14
  Dept 3     | 18             | 2             | 20
  {barchart stacked}</pre>
    <p>Large graphs can be displayed compactly to save space.</p>
    <pre>Department   | Short Speeches | Long Speeches
  -|-|-
  Department 1 | 6              | 6
  Department 2 | 6              | 8
  Department 3 | 18             | 2
  Department 4 | 5              | 4
  Department 4 | 7              | 7
  Department 6 | 11             | 1
  {barchart compact}</pre>
    <p>If you include negative values, you must indicate this.</p>
    <pre>Department   | Change in Number of Buildings
  -|-
  Department 1 | -12
  Department 1 | 3
  Department 1 | -4
  Department 1 | 2
  {barchart negative}</pre>
    <p>All effects can be combined.</p>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-cta" aria-expanded="false">Call to action</a></h3>
  <div class="collapse" id="govspeak-cta">
    <pre>$CTA
  [Use the trade tariff tool to find commodity codes.](https://www.gov.uk/trade-tariff)
  $CTA</pre>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-acronyms" aria-expanded="false">Abbreviations and acronyms</a></h3>
  <div class="collapse" id="govspeak-acronyms">
    <p>The first time you use an abbreviation or acroynm, write it out in full.</p>
    <p>Add the <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#acronyms">acronym Markdown</a> at the end of the body copy leaving one empty line space above it, as in the following example.</p>
    <pre>Example content that includes a three-letter acronym (TLA).

  *[TLA]: three-letter acronym</pre>
    <p>When a user hovers their mouse over a <abbr title="three-letter acronym">TLA</abbr>, they will see it written in full.</p>

  </div>

  <h3><a data-toggle="collapse" href="#govspeak-blockquotes" aria-expanded="false">Blockquotes</a></h3>
  <div class="collapse" id="govspeak-blockquotes">
    <pre>As the Prime Minister said:

  > Rule, Britannia, rule the waves.
  >
  > Britons never shall be slaves.</pre>
    <p>The > in the line space is important. If you leave it out you will get 2 separate quotes, not 1 running quote.</p>
  </div>

  <h3><a data-toggle="collapse" href="#govspeak-addresses" aria-expanded="false">Addresses</a></h3>
  <div class="collapse" id="govspeak-addresses">
    <pre>$A
  Address
  Only
  Here
  $A</pre>

    <p>You can also embed contact information:</p>
    <pre>[Contact:<em>n</em>]</pre>
    <p>(n is the ID of the contact you want to embed.)</p>
    <p>You can find the ID on the list of contacts for an <%= link_to 'organisation', admin_organisations_path %> or <%= link_to 'worldwide organisation', admin_worldwide_organisations_path %> or you can type ‘[Contact: ’ and then type a keyword to find your contact (if it exists).</p>
    <p>If it doesn’t exist you will have to add it (see your ‘Publishing explained’ guidance). </p>
  </div>


  <h3><a data-toggle="collapse" href="#govspeak-email-links" aria-expanded="false">Email links</a></h3>
  <div class="collapse" id="govspeak-email-links">
    <p>Use ‘less than’ (<code>&lt;</code>) and ‘greater than’ (<code>&gt;</code>) arrows around email addresses to make them a link.</pre>
  </div>

  <% if show_footnote_help %>
    <h3><a data-toggle="collapse" href="#govspeak-footnotes" aria-expanded="false">Footnotes</a></h3>
    <div class="collapse" id="govspeak-footnotes">
      <pre>Footnotes can be added[^1].

  [^1]: And then later defined.</pre>
      <p>
        You can add a footnote marker to a document using [^<em>i</em>] where <em>i</em> is the footnote number or label. Each of these tags should have corresponding footnote content, defined with [^<em>i</em>]: <em>The footnote content</em>. The footnote content will always appear at the end of the document regardless of where they are in the markdown.
      </p>
      <p>
        Footnote content can hold more than one paragraph by indenting the content 4 spaces:
      </p>

      <pre>[^1]:
      This is some footnote content and is indented 4 spaces.

      This paragraph is also indented, so will be considered part of the footnote content.</pre>
    </div>
  <% end %>

  <% if show_stat_headline_help %>
    <h3><a data-toggle="collapse" href="#govspeak-stat-headline" aria-expanded="false">Statistic headlines</a></h3>
    <div class="collapse" id="govspeak-stat-headline">
      <p>
        Use statistic headlines to highlight important numbers in your content. Displays a statistic as a large number with a description. The statistic and description must make sense when read aloud.
      </p>
      <pre>{stat-headline}
  *13.8bn* years since the big bang
  {/stat-headline}</pre>
    </div>
  <% end %>
</div>
