a {
  color: $link-colour;
  text-decoration: none;

  &:visited {
    color: $link-visited-colour
  }
  &:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }
  &:active {
    color: $link-active-colour
  }
  &:focus {
    text-decoration: underline;
  }

  * {
    cursor: pointer;
  }
}
