// BASE STYLESHEET COMPILER

$govuk-use-legacy-palette: true;
$govuk-typography-use-rem: false;

// STYLEGUIDE
// Mixins to be shared across gov.uk sites. Anything set in these
// files can be used in the view files.

// From the https://github.com/alphagov/govuk_frontend_toolkit
@import "_colours";
@import "_conditionals";
@import "_css3";
@import "_grid_layout";
@import "_measurements";
@import "_typography";
@import "_shims";

@import "styleguide/_dimensions";
@import "styleguide/_typography";
@import "styleguide/_colours";
@import "styleguide/_button";
@import "styleguide/_float-fix";
@import "styleguide/_hidpi";
@import "styleguide/_right-to-left";

// RESET
// Flatten exising styles

@import "reset/_reset";
// reset styles applied to #whitehall-wrapper & #whitehall-wrapper *
// so as to override global styles being set by gov.uk chrome. When
// gov.uk styles are scoped, will want to change these selectors to
// body and *

// GLOBAL
// Styles that apply to all of whitehall.

#whitehall-wrapper {
  @import "global/_links";
}

// HELPERS
// Styles for comment page elements

#whitehall-wrapper {
  @import "helpers/_activity-nav";
  @import "helpers/_announcements";
  @import "helpers/_withdrawal-notice";
  @import "helpers/_attachment";
  @import "helpers/_available_languages";
  @import "helpers/_browse";
  @import "helpers/_change-notes";
  @import "helpers/_collection_list";
  @import "helpers/_contextual-info";
  @import "helpers/_corporate-information";
  @import "helpers/_dash-list";
  @import "helpers/_document";
  @import "helpers/_document_footer_meta";
  @import "helpers/_document_list";
  @import "helpers/_document-share-links";
  @import "helpers/_documents-grid";
  @import "helpers/_headings";
  @import "helpers/_featured-links";
  @import "helpers/_featured_news";
  @import "helpers/_feeds";
  @import "helpers/_filtered-index";
  @import "helpers/_govspeak";
  @import "helpers/_heading-block";
  @import "helpers/_historic-people-list";
  @import "helpers/_holding";
  @import "helpers/_index-list";
  @import "helpers/_js-list-items";
  @import "helpers/_lead-image";
  @import "helpers/_metadata-list";
  @import "helpers/_organisations";
  @import "helpers/_organisation-news";
  @import "helpers/_page-header";
  @import "helpers/_pagination";
  @import "helpers/_person";
  @import "helpers/_recently_updated";
  @import "helpers/_simple-alphabetical-list";
  @import "helpers/_social-media-accounts";
  @import "helpers/_status-block";
  @import "helpers/_sub-navigation";
  @import "helpers/_worldwide-organisation-header";

  // helpers shared with admin
  @import "../shared/helpers/_magna-charta";
  @import "../shared/helpers/_player-container";
}

// VIEWS
// Styles scoped to each template in /views

#whitehall-wrapper {
  @import "views/_biographical-page";
  @import "views/_corporate-information-pages-worldwide-organisation";
  @import "views/_email-signup";
  @import "views/_email-signup-information";
  @import "views/_embassies";
  @import "views/_get-involved";
  @import "views/_groups";
  @import "views/_history";
  @import "views/_history-buildings";
  @import "views/_history-people";
  @import "views/_historic-appointments";
  @import "views/_how-gov-works";
  @import "views/_layouts";
  @import "views/_ministerial-roles";
  @import "views/_new-document-page";
  @import "views/_operational-field";
  @import "views/_organisations";
  @import "views/_people";
  @import "views/_search";
  @import "views/_site-index";
  @import "views/_topic";
  @import "views/_world_locations";
  @import "views/_worldwide_organisations";
  @import "views/_topical-events";
  @import "views/corporate_information_pages/show";
  @import "views/publications/_index";
  @import "views/statistics/_index";
  @import "views/statistics_announcements/_index";
}

// LAYOUTS
// Styles scoped to a layout. Be careful.

@import "layouts/_main";

#whitehall-wrapper {
  @import "layouts/two_column_page";
}

@import "govuk_publishing_components/all_components";

// TODO: This 👇 `a.govuk-link:focus` overrides the global `a:link:focus` style
// coming from static and the global styles set in `global/_links.scss`. This
// can be removed when the style from static and Whitehall removed.
#whitehall-wrapper a.govuk-link{
  text-decoration: none;

  &:focus {
    color: $govuk-focus-text-colour;
  }
}
